/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT |  | L SHIFT | L SHIFT |  N   |  M    |  ,    |  .   |   /   | CTRL |
            //                     | GUI  | DEL  | RET  |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |

            bindings = <
                     &kp ESC   &kp Q   &kp W                          &kp E            &kp R                      &kp T                                                     &kp Y                 &kp U                            &kp I    &kp O     &kp P                  &kp BACKSPACE
                &kp CAPSLOCK   &kp A   &kp S                          &kp D            &kp F                      &kp G                                                     &kp H                 &kp J                            &kp K    &kp L  &kp SEMI                        &kp SQT
 &mt LEFT_SHIFT LEFT_BRACKET   &kp Z   &kp X                          &kp C            &kp V                      &kp B  &kp LSHFT  &kp LSHFT  &kp LSHFT  &kp LSHFT         &kp N                 &kp M                        &kp COMMA  &kp DOT  &kp FSLH  &mt RIGHT_SHIFT RIGHT_BRACKET
                                              &mt LEFT_GUI LEFT_PARENTHESIS  &mt LALT LC(UP)  &mt LEFT_CONTROL LC(DOWN)    &kp TAB  &kp SPACE  &kp SPACE  &kp ENTER  &kp QUESTION  &mt RIGHT_ALT DELETE  &mt RIGHT_GUI RIGHT_PARENTHESIS
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        Layer__1 {
            bindings = <
 &trans  &kp EXCLAMATION  &kp AT_SIGN  &kp HASH  &kp DOLLAR  &kp PERCENT                                  &kp CARET  &kp AMPERSAND  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans
 &trans           &kp F1       &kp F2    &kp F3      &kp F4       &kp F5                                     &kp F6         &kp F7        &kp F8                &kp F9                &kp F10  &trans
 &trans           &trans       &trans    &trans      &trans       &trans  &trans  &trans  &trans  &trans     &trans         &trans        &trans                &trans                 &trans  &trans
                                         &trans      &trans       &trans  &trans  &trans  &trans  &trans     &trans         &trans        &trans
            >;
        };
    };
};
